<!DOCTYPE HTML>
<html>

<head>
	<title>BALLOONTIC SHOP</title>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="js/jquery.min.js"></script>

	<link rel="stylesheet" href="css/fwslider.css" media="all">
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/fwslider.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$(".dropdown img.flag").addClass("flagvisibility");

			$(".dropdown dt a").click(function () {
				$(".dropdown dd ul").toggle();
			});

			$(".dropdown dd ul li a").click(function () {
				var text = $(this).html();
				$(".dropdown dt a span").html(text);
				$(".dropdown dd ul").hide();
				$("#result").html("Selected value is: " + getSelectedValue("sample"));
			});

			function getSelectedValue(id) {
				return $("#" + id).find("dt a span.value").html();
			}

			$(document).bind('click', function (e) {
				var $clicked = $(e.target);
				if (!$clicked.parents().hasClass("dropdown"))
					$(".dropdown dd ul").hide();
			});


			$("#flagSwitcher").click(function () {
				$(".dropdown img.flag").toggleClass("flagvisibility");
			});
		});
	</script>
</head>

<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="header-left">
						<div class="logo">
							<a href="/"><img src="images/logo1.jpg" alt="" height="50px" width="50px"></a>
						</div>
						<div class="menu">
							<a class="toggleMenu" href="#"><img src="images/nav.png" alt="" /></a>
							<ul class="nav" id="nav">
								<li><a href="/shop">product</a></li>
								<li><a href="/team">About</a></li>
								<li><a href="/contact">Contact</a></li>

								<div class="clear"></div>
							</ul>

							<script type="text/javascript" src="js/responsive-nav.js"></script>
						</div>
					</div>
					<div class="header-right">
						<div class="menu">
							<% if(authorized){ %>
								<ul class="nav" id="nav">
									<li><a href="/logout">Logout</a></li>
								</ul>
								<% }else{ %>
									<ul class="nav" id="nav">
										<li><a href="/login">Login</a></li>
										<li><a href="/register">SignUP</a></li>
									</ul>
									<% } %>

						</div>
					</div>
				</div>
				<h3 style="color: white; padding-left: 500px; padding-bottom: 20px;">THE BALLOONTIC ASYLUM</h3>
			</div>

		</div>

	</div>
	<div class="container">
		<center>
			<div class="btn-group">
				<a href="/filter-category?category=birthday_bouquets"><button>Birthday Bouquets</button></a>
				<a href="/filter-category?category=ballony_occasions"><button>Balloony Occasions</button></a>
				<a href="/filter-category?category=build_ballon_bouquet"><button>Build a Balloon Bouquet</button></a>
				<a href="/filter-category?category=decorating_with_ballons"><button>Decorating with
						Balloons</button></a>
				<a href="/filter-category?category=ballon_in_bulk"> <button>Balloons in Bulk</button></a>
			</div>
		</center>
	</div>
	<div class="banner">

		<div id="fwslider">
			<div class="slider_container">
				<div class="slide">

					<img src="images/home.jpg" class="img-responsive" alt="" />


				</div>

			</div>

		</div>

	</div>
	<br></br>

	<center>
		<h2 style="text-transform: uppercase;">" You can't use up creativity. The more you use, the more you have. "
		</h2>
	</center>

	<br></br><br></br>

	<div class="row">
		<div class="col-md-6 team_bottom">

			<% for(var i=0; i < data.length ; i++) { %>
				<ul class="team_list">
					<h4>&nbsp;&nbsp;<%= data[i].headres%>
					</h4>

					<% for(var j=0; j < data[i].quotes.length ; j++) { %>
						<li><a href="#">
								<%= data[i].quotes[j].title %>
							</a>
							<p>
								<%= data[i].quotes[j].discription %>
							</p>
						</li>
						<% } %>
				</ul>
				<% } %>
		</div>

		<div class="col-md-4 team_bottom">
			<% for(var i=0; i < data.length ; i++) { %>
				<ul class="team_list">
					<h4>
						<%= data[i].headres1 %>
					</h4>
					<% for(var j=0; j < data[i].quotes.length ; j++) { %>
						<li><a href="#">
								<%= data[i].quotes[j].title1 %>
							</a>
							<p>
								<%= data[i].quotes[j].discription1 %>
							</p>
						</li>
						<% } %>
				</ul>
				<% } %>
		</div>

		<br></br>
	</div>
	<div class="footer">
		<div class="container">
			<div class="row">
				<center>
					<div>
						<a href="/"><img src="images/logo.jpg" alt="" / height="50px" width="50px"></a>
						COPY RIGHT KRISHNA RAJESH SARANG @2019-2021
					</div>
				</center>
			</div>

		</div>
	</div>

</body>

</html>